.error p {
  color: red;
}

body{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  margin-bottom: 10%;
}
h1{
  text-align: center;
  color: #4CAF50;
}
.btn btn-primary{
  margin-left: 30%;
  margin-right: 30%;
  color: #4CAF50;
  alignment: center;
}
